#root {
  display: flex;
  flex-direction: column;
  border: 1px solid #4e4e4e;
  padding-top: 10px;
  border-radius: 5px;
}

#addTemplate {
  width: 60%;
  height: 30px;
  position: relative;
  margin: 10px auto;
}

#addTemplate span {
  display: block;
  position: absolute;
  top: 4px;
  left: 50%;
}
