@import "src/utilities/appColors.scss";

html,body {
  margin: 0;
}

body {
  background-color: $bg-c;
}

#container {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  background-color: $bg-c;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border: 1px solid #4e4e4e;
  padding-top: 10px;
  border-radius: 5px;
}

#container ul {
  margin: 0;
  padding: 5px;
  max-width: 100%;
  border: 1px double #ffffff0c;
}

#container li {
  list-style: none;
  font-size: 26px;
  /* border: 1px solid #587fb5; */
  /* border-bottom: none; */
  padding: 0px 10px;
  color: #fff;
  border-radius: 3px 3px 3px 3px;
  border-collapse: collapse;
  margin: 0;
  box-shadow: 0px 0px 5px 2px $btn-shadow-c;

  display: flex;
  flex-direction: raw;
  max-width: 100%;
  transition: 0.1s;
}

button:hover {
  /* transform: translateX(1px) ; */
  box-shadow: 0px 0px 5px 2px #ffffffa3;
}

#container li > div {
  min-width: 50%;
  max-height: 1.2em;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 3px 0;
  /* overflow: hidden;
  text-overflow: ellipsis; */
  white-space: nowrap;
  justify-content: space-between;

}

/*------------------------------*/


/*-----------------------------------------*/
.tooltipwrapper {
  position: relative;
  display: inline-block;
}

.content {
  background-color: #9999FF;
  width: 50px;
  height: 50px;
}

.tooltip {
  z-index: 1;
  background-color: #FF9999;
  display: none;
  position: fixed;
  transform:translate(50px,-50px);
  /*left: 100%;
  top: 0%;*/
  white-space: nowrap;
}

.tooltipwrapper:hover .tooltip {
  display: inline-block;
}

#topSection {
  display: flex;
}

#topSection .paragraphSection {
  width: calc(100% / 3);
  padding-left: 15px;
  color: #fff;
  position: absolute;
}

.paragraphSection input {
  font-size: 14px;
  width: 2.5rem;
  margin-left: 5px;
}

.paragraphSection input::-webkit-outer-spin-button,
.paragraphSection input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */-webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#buttonSection {
  /* background-color: #6aa68e; */
  display: flex;
  max-width: fit-content;
  flex-direction: column;
  align-self: center;
  margin: 10px auto;
  box-shadow: inset 0px 0px 5px 2px $btn-shadow-c;
  border-radius: 20px;
}

#topButtons {
  display: flex;
  width: fit-content;
}

button, input {
  background-color: $btn-c;
  padding: 5px 10px;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  margin: 3px;
  box-shadow: 0px 0px 5px 2px $btn-shadow-c;
  transition: 0.1s;
}

button[wasClicked="true"] {
  background-color: #ffffff;
}

#topButtons button:nth-child(1) {
  border-radius: 30px 10px 10px 6px;
}
#topButtons button:nth-child(2) {
  border-radius: 10px 30px 6px 10px;
}

button:focus, input:focus {
  outline: none;
}

.deleteOneButton {
  position: absolute; 
  left: 96%;
  float: right;
  /* margin: 0; */
  padding: 1px 5px 0;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px $btn-shadow-c;
}

.divToProcessing, .divProcessed {
  /* max-width: 50%; */
  /* background-color: #483737; */
  /* padding-right: 30px; */
  overflow: hidden;
  text-overflow: ellipsis;
}
